---
import Layout from '../layouts/Layout.astro';
import Notas from '../components/Notas.astro';
import AddNota from '../components/AddNota.astro';

---


<Layout title="Welcome to Astro.">
	<main class="col-span-5 p-4 max-w-screen-md mx-auto text-white text-lg leading-6">
		<Notas />
		<!-- <AddNota/> -->
	 </main>	 
</Layout>

<style>
	main {
		margin: auto;
		padding: 1rem;
		width: 800px;
		max-width: calc(100% - 2rem);
		color: white;
		font-size: 20px;
		line-height: 1.6;
	}
</style>
