---
import Layout from '../layouts/Layout.astro';
import Notas from '../components/Notas.jsx';
---


<Layout title="Welcome to Astro.">
	<main class="col-span-5 p-4">
		<Notas/>
	</main>
</Layout>

<style>
	main {
		margin: auto;
		padding: 1rem;
		width: 800px;
		max-width: calc(100% - 2rem);
		color: white;
		font-size: 20px;
		line-height: 1.6;
	}
</style>
